<div class="page-content">
  <div class="login-form form-content">
    <%= form_tag(process_login_path, method: :post) do %>
      <%= hidden_field_tag :back_to, params[:back_to] %>
      <div>
        <%= label_tag(:username, 'Username', class: 'medium-major') %>
        <div>
          <%= text_field_tag(:username, params[:username]) %>
        </div>
      </div>
      <div>
        <%= label_tag(:password, 'Password', class: 'medium-major') %>
        <div>
          <%= password_field_tag(:password, '') %>
        </div>
      </div>
      <div>
        <%= submit_tag('Login', class: 'btn wide', name: '') %>
        <%= check_box_tag(:remember_me) %> <%= label_tag(:remember_me, nil, style: 'display:inline-block') %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  document.getElementById('username').focus();
</script>
