<div class="page-content">
  <p>Search for <strong><%= @shelf.name %></strong></p>
  <%= form_tag product_search_path(shelf_id: @shelf.id), method: 'get' do %>
    <%= hidden_field_tag :shelf_id, @shelf.id %>
    <div class="form-content">
      <%= text_field_tag :query, params[:query], class: 'text-input' %>
      <%= submit_tag 'Search' %>
    </div>
  <% end %>
  <% if @products.any? %>
    <table class="product-list">
      <tr>
        <th style="width: 160px"></th>
        <th></th>
      </tr>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to image_tag(product.image_url, size: '150x150', title: product.name, class: 'product-search-img'), user_shelf_products_path(current_user, @shelf, id: product, query: params[:query]), method: 'post' %></td>
          <td>
            <%= link_to user_shelf_products_path(current_user, @shelf, id: product, query: params[:query]), method: 'post' do %>
              <p><strong><%= product.brand %></strong></p>
              <%= product.name %>
              <p class="small"><%= product.product_type %></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<script type="text/javascript">
  document.getElementById('query').focus();
</script>
