<div class="page-content profile-content">
  <div class="top-tab"><div class="top-tab-line"></div><div class="top-tab-line"></div></div>
  <div class="form-content">
    <%= form_for current_user, url: user_profile_path(current_user) do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </p>
      <p>
        <%= f.label :share_link %>
        <%= f.text_field :share_link, readonly: 1 %>
      </p>
      <p>
        <%= f.submit 'Save Profile', class: 'btn wide' %>
      </p>
      <div class="divider"></div>
      <p>
        <%= link_to 'Logout', logout_path, class: 'btn wide' %>
      </p>
    <% end %>
  </div>
</div>