<% if @shelves.any? %>
  <table class="shelves">
    <% @shelves.each do |shelf| %>
      <tr>
        <td>
          <%= content_tag :div, class: "shelf-name", id: shelf.name.parameterize do %>
            <span><%= shelf.name %></span>
            <%= form_for(shelf) { |f| f.text_field :name_with_index } %>
          <% end %>
          <% shelf.products.each do |product| %>
            <%= link_to shelf_product_path(shelf, product) do %>
              <%= image_tag(product.image_url, size: '150x150', title: product.name, class: 'product-img', id: product.name.parameterize) %>
            <% end %>
          <% end %>
          <%= link_to "+", product_search_path(shelf_id: shelf.id), class: 'add-product' %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="add-new-shelf">
        <div class="add-new-shelf-text">Add New Shelf</div>
        <div class="add-new-shelf-form form-content" style="display:none;">
          <%= form_for Shelf.new do |f| %>
            <%= f.text_field :name, placeholder: "Enter a name", id: 'new_shelf_name' %>
            <%= f.submit %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
<% else %>
  <p>No shelves created yet. Want to add one now?</p>
<% end %>