<% if @shelves.any? %>
  <table class="shelves">
    <% @shelves.each do |shelf| %>
      <tr>
        <td class="box shade">
          <%= content_tag :div, class: "shelf-name", id: shelf.name.parameterize do %>
            <span><%= shelf.name %></span>
            <%= form_for([@user, shelf]) { |f| f.text_field :name_with_index, readonly: !can_edit? } %>
          <% end %>
          <%= content_tag(:ul, class: "products", id: shelf.id) do %>
            <% shelf.shelf_products.sort_by(&:order_index).each do |sp| %>
              <%= content_tag(:li, id: sp.id, data: { href: user_shelf_product_path(@user, shelf, sp.product) }) do %>
                <%= image_tag(sp.product.image_for_display(size: [nil, 250]), height: 250, title: sp.name, class: "product-img #{'wishlist' if sp.wishlist?} #{'draggable' if can_edit?}", id: sp.name.parameterize) %>
              <% end %>
            <% end %>
          <% end %>
          <% if can_edit? %>
            <%= link_to "+", product_search_path(shelf_id: shelf.id, query: shelf.name), class: 'add-product btn round' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if can_edit? %>
      <tr>
        <td class="add-new-shelf">
          <div class="add-new-shelf-text"><p><a href="javascript:;" , class="bold-link">Add New Shelf</a></p></div>
          <div class="add-new-shelf-form form-content" style="display:none;">
            <%= form_for [@user, Shelf.new] do |f| %>
              <%= f.text_field :name, placeholder: "Enter a name", id: 'new_shelf_name' %>
              <%= f.submit "Create Shelf", name: "", class: "btn wide" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No shelves created yet. Want to add one now?</p>
<% end %>