<table class="shelves">
  <tr>
    <td>
      <div class="shelf-name"><span><%= @shelf.name %></span></div>
      <%= image_tag(@product.image_url, title: @product.name, class: 'original-product-img fl') %>
      <div class="fl">
        <p><strong><%= @product.brand %></strong></p>
        <p>
          <%= @product.name %> | <%= @product.product_type %>
        </p>
        <p>
          <%= link_to "Remove from shelf", shelf_product_path(@shelf, id: @product), method: 'delete', class: 'btn' %>
          <%= link_to "View product details", @product.product_url, target: '_blank', class: 'btn' %>
        </p>
        <p class="small">
          Sourced from the <%= link_to @product.catalog.name, @product.sourced_from, target: '_blank' %> catalog
        </p>
      </div>
    </td>
  </tr>
</table>
