<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  <meta name="turbolinks-cache-control" content="no-cache">
  <title><%= @title || 'Kkubby' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>
<body>
<div class="top-bar">
  <div class="top-bar-content">
    <%= link_to home_path, class: 'bold-link' do %>
      <div class="fl">
        <% if @user&.persisted? %>
          <div class="top-bar-username"><%= @user.display_name %>'s</div>
        <% end %>
        <h1>Kkubby</h1>
      </div>
    <% end %>
    <div class="hamburger">
      <% if current_user %>
        <%= link_to image_tag('white-panda.svg', height: 50, width: 50, class: 'signed-in'), '#', class: 'user-signed-in' %>
      <% else %>
        <%= link_to image_tag('white-panda.svg', height: 50, width: 50), login_path %>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<%= flash_message_helper %>
<div class="page-body" id="page-body"><%= yield %></div>
<div class="footer">
  <div class="divider"></div>
  <p>Kkubby Inc &copy; 2020</p>
  <p><%= link_to "About Us", root_path, class: 'bold-link' %> | <%= link_to 'Signup', signup_path, class: 'bold-link' %></p>
  <p>Contact us <%= link_to "@mykkubby", "https://twitter.com/mykkubby", target: '_blank', class: 'bold-link' %></p>
  <p class="code-text medium">v<%= Rails.application.config.version %></p>
</div>
<% if current_user %>
  <div class="profile-modal"><div id="profile" class="profile"><%= render current_user %></div></div>
<% end %>
</body>
</html>
