<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  <title>Kkubby</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="top-bar">
  <% if @user %>
    <div class="top-bar-username"><%= @user.username %>'s</div>
  <% end %>
  <div class="top-bar-content">
    <%= link_to home_path do %>
      <div class="home-link-box"></div>
    <% end %>
    <div class="hamburger">
      <p>
        <% if current_user %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Login', login_path %>
        <% end %>
      </p>
    </div>
    <!--    Smashed on smaller iphone, disable for now-->
    <!--    <div class="hamburger">-->
    <!--      <div></div>-->
    <!--      <div></div>-->
    <!--      <div></div>-->
    <!--    </div>-->
  </div>
</div>
<%= flash_message_helper %>
<div><%= yield %></div>
</body>
</html>
