<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  <title>Kkubby</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div id="leftIcon" class="image-indicator"></div>
<div id="rightIcon" class="image-indicator"></div>
<div class="top-bar">
  <% if @user %>
    <div class="top-bar-username"><%= @user.username %>'s</div>
  <% end %>
  <div class="top-bar-content">
    <%= link_to home_path do %>
      <div class="home-link-box"></div>
    <% end %>
    <div class="hamburger">
      <% if current_user %>
        <%= link_to image_tag('young-executive-woman-profile-icon.jpg', class: 'icon-shade', height: 50, width: 40), logout_path, class: '' %>
      <% else %>
        <%= link_to image_tag('blacknwhite-exec-woman-icon.jpg', height: 50, width: 40), login_path, class: '' %>
      <% end %>
    </div>
    <!--    Smashed on smaller iphone, disable for now-->
    <!--    <div class="hamburger">-->
    <!--      <div></div>-->
    <!--      <div></div>-->
    <!--      <div></div>-->
    <!--    </div>-->
  </div>
</div>
<%= flash_message_helper %>
<div class="page-body"><%= yield %></div>
<div class="footer">
  <div class="divider"></div>
  <p>Kkubby Inc &copy; 2020</p>
  <p>Contact us <%= link_to "@mykkubby", "#", class: 'bold-link' %></p>
  <p class="code-text">v<%= Rails.application.config.version %></p>
</div>
</body>
</html>
