<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="robots" content="index,follow">
  <title>Kkubby</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="top-bar">
  <div class="top-bar-content">
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<%= flash_message_helper %>
<div><%= yield %></div>
</body>
</html>
